<%= form_with(model: budget_subcategory) do |form| %>
  <% if budget_subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_subcategory.errors.count, "error") %> prohibited this budget_subcategory from being saved:</h2>

      <ul>
        <% budget_subcategory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-stack">
    <div class="card">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :budgeted %>
        <%= form.text_field :budgeted %>
      </div>

      <div class="field">
        <%= form.label :budget_category_id %>
        <%= form.select :budget_category_id, BudgetCategory.order(:name).map { |budget_category| [budget_category.name, budget_category.id] }, include_blank: true, id: "id_of_the_budget_category_id_select_box" %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
