<%= form_with(model: budget_subcategory) do |form| %>
  <% if budget_subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_subcategory.errors.count, "error") %> prohibited this budget_subcategory from being saved:</h2>

      <ul>
        <% budget_subcategory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :committee_id %>
    <%= form.number_field :committee_id %>
  </div>

  <div class="field">
    <%= form.label :subcategory_name %>
    <%= form.text_field :subcategory_name %>
  </div>

  <div class="field">
    <%= form.label :subcategory_amount %>
    <%= form.text_field :subcategory_amount %>
  </div>
  
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
