<p id="notice"><%= notice %></p>

<h1>Budget Subcategories</h1>

<table>
  <thead>
    <tr>
      <th>Committee</th>
      <th>Subcategory name</th>
      <th>Subcategory amount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_subcategories.each do |budget_subcategory| %>
      <tr>
        <td><%= budget_subcategory.committee_id %></td>
        <td><%= budget_subcategory.subcategory_name %></td>
        <td><%= budget_subcategory.subcategory_amount %></td>
        <td><%= budget_subcategory.status %></td>
        <td><%= link_to 'Show', budget_subcategory %></td>
        <td><%= link_to 'Edit', edit_budget_subcategory_path(budget_subcategory) %></td>
        <td><%= link_to 'Destroy', budget_subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Subcategory', new_budget_subcategory_path %>
<% if User.find(session[:user_id]).permission_type == 'admin' %>
<%= link_to 'Home', admin_home_path(User.find(session[:user_id])) %>
<% else %>
<%= link_to 'Home', user_home_path(User.find(session[:user_id]))%>
<% end %>
