<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget_subcategory.name %>
</p>

<p>
  <strong>Budgeted:</strong>
  <%= @budget_subcategory.budgeted %>
</p>

<p>
  <strong>Spent:</strong>
  <%= @budget_subcategory.spent %>
</p>

<p>
  <strong>Pending:</strong>
  <%= @budget_subcategory.pending %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @budget_subcategory.balance %>
</p>

<%= link_to 'Edit', edit_budget_subcategory_path(@budget_subcategory) %> |
<%= link_to 'Back', :back %>
