<p id="notice"><%= notice %></p>

<p>
  <strong>Committee:</strong>
  <%= @budget_subcategory.committee_id %>
</p>

<p>
  <strong>Subcategory name:</strong>
  <%= @budget_subcategory.subcategory_name %>
</p>

<p>
  <strong>Subcategory amount:</strong>
  <%= @budget_subcategory.subcategory_amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @budget_subcategory.status %>
</p>

<%= link_to 'Edit', edit_budget_subcategory_path(@budget_subcategory) %> |
<%= link_to 'Home', user_home_path(@user)%>
