<style>
	p {
	  padding: 20px;
	  background-color: #D3D3D3; /* Red */
	  color: black;
	  margin-bottom: 15px;
	  font: serif;
	}
</style>

<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Financial Forms</h1>
</div>

<p><%= link_to 'Print Queue' %> - View documents that are in the Print Queue</p> <br>
<p><%= link_to 'Reimbursement Request', requests_path(session[:user_id]) %> - View or Create a Reimbursement Request</p> <br>
<p><%= link_to 'Vendors', vendors_path(session[:user_id]) %> - View or Create a Vendor</p> <br>
<p><%= link_to 'New Revenue' %>- Create a Revenue</p> <br>

<%= link_to 'Back', :back %>