<p>User Home Page</p>
<td><%= link_to 'Logout', logout_path, method: :destroy %></td> <br>
<td><%= link_to 'Profile', user_path(session[:user_id]) %></td> <br>
<td><%= link_to 'Request', requests_path(session[:user_id]) %></td> <br>
<td><%= link_to 'Budget',budget_subcategories_path(session[:user_id]) %></td> <br>
<td><%= link_to 'Vendors', vendors_path(session[:user_id]) %></td> <br>
