<p id="notice"><%= notice %></p>

<div>
    <h2>Log In</h2>
    <%= form_tag '/login' do %>
        Email: <%= text_field_tag :email %><br>
        Password: <%= password_field_tag :password %><br>
        <%= submit_tag "Log In" %>
        <%= link_to 'Create Account', new_user_path %>
        <%= link_to 'Committee Manager', committees_path %>
    <% end %>

    <h3>Or Login with Google:</h3>
	<%= button_to 'Google', '/auth/google_oauth2', method: :post %>
</div>