<%= form_with(model: invoice) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-stack">
    <div class="card">
      <div class="field">
        <%= form.label :vendor_id %>
        <%= form.select :vendor_id, Vendor.order(:vendor_name).map { |vendor| [vendor.vendor_name, vendor.id] }, include_blank: true, id: "id_of_the_vendor_id_select_box" %>
      </div>


      <div class="field">
        <%= form.label :tax_id_number %>
        <%= form.text_field :tax_id_number %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address %>
        <%= form.text_field :address %>
        <%= form.text_field :address %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city %>
      </div>

      <div class="field">
        <%= form.label :state %>
        <%= form.text_field :state %>
      </div>

      <div class="field">
        <%= form.label :zip %>
        <%= form.text_field :zip %>
      </div>

      <div class="field">
        <%= form.label :payment_method %>
        <%= form.select :payment_method, [['Credit Card', 'credit_card'], ['Check', 'check'],['Cash', 'cash']] %>
      </div>

      <div class="field">
        <%= form.label :travel_password %>
        <%= form.text_field :travel_password %>
      </div>

    </div>

    <div class="card">
      <div class="field">
        <%= form.text_area :notes, placeholder:"total cost of items" %>
      </div>
      <div class="field">
        <%= form.text_area :notes, placeholder:"Notes", rows:10, class: "form-control" %>
      </div>
    </div>

    <div class="card">
      Items:
      <ul>
        <%= form.fields_for :items do |items_form| %>
          <li>
            <%= items_form.label :items_purchased %>
            <%= items_form.text_field :items_purchased %>
    
            <%= items_form.label :budget %>
            <%= items_form.select :budget, Budget.order(:name).map{ |budget| [budget.name, budget.id] }, include_blank: true, id: "id_of_the_budget_id_select_box" %>

            <%= items_form.label :category %>
            <%= items_form.select :category, BudgetCategory.order(:name).map{ |category| [category.name, category.id] }, include_blank: true, id: "id_of_the_category_id_select_box" %>

            <%= items_form.label :subcategory %>
            <%= items_form.select :subcategory, BudgetSubcategory.order(:name).map{ |subcategory| [subcategory.name, subcategory.id] }, include_blank: true, id: "id_of_the_subcategory_id_select_box" %>

            <%= items_form.label :taxcategory %>
            <%= form.select :tax_category, [['Travel'],['Food'],['Office Supplies'],['Utilities'],['Membership'],['Services & Other Income'],['Clothing'],['Rent'],['Other Expenses'],['Items for Resale ']], include_blank: true %>
            
            <%= items_form.label :gift %>
            <%= items_form.check_box :gift%>
            
            <%= items_form.label :cost %>
            <%= items_form.text_field :cost %>

          </li>
        <% end %>
      </ul>
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
<% end %>
