<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @invoice.vendor_id %>
</p>

<p>
  <strong>Vendor title:</strong>
  <%= @invoice.vendor_title %>
</p>

<p>
  <strong>Tax id number:</strong>
  <%= @invoice.tax_id_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @invoice.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @invoice.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @invoice.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @invoice.zip %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @invoice.payment_method %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
