<div class='page-wrapper'>
  <div class='banner'>
    <h1>Invoice</h1>
  </div>
  <p id="notice"><%= notice %></p>

  <div class='card-stack'>
    <div class='card'>
      <p>
        <strong>Vendor:</strong>
        <%= @invoice.vendor_id %>
      </p>

      <p>
        <strong>Tax ID #:</strong>
        <%= @invoice.tax_id_number %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @invoice.address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @invoice.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @invoice.state %>
      </p>

      <p>
        <strong>Zip:</strong>
        <%= @invoice.zip %>
      </p>

      <p>
        <strong>Payment method:</strong>
        <%= @invoice.payment_method %>
      </p>

      <p>
        <strong>Travel Password:</strong>
        <%= @invoice.travel_password %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @invoice.notes %>
      </p>
    </div>
  </div>

  <div class='card-stack'>
    <%= link_to 'Edit', edit_invoice_path(@invoice), {:class => 'button'} %>
    <%= link_to 'Back', invoices_path, {:class => 'button'} %>
  </div>
</div>
