<div class="page-wrapper">
  <div class="banner">
    <h1>Budgets</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <br>
  <br>

  <% @budgets_by_year.each do |year, budgets| %>
    <div class="card-stack">
      <button class="accordion"><%= year %></button>
      <div class="panel">
        <table>
          <thead>
            <tr class="strongRow">
              <th>Name</th>
              <th>Budgeted</th>
              <th>Spent</th>
              <th>Pending</th>
              <th>Balance</th>
              <th>Active</th>
              <th>Locked</th>
              <th>Default</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% budgets.each do |budget| %>
              <tr class="normalRow">
                <td><%= budget.name %></td>
                <td><%= budget.budgeted %></td>
                <td><%= budget.spent %></td>
                <td><%= budget.pending %></td>
                <td><%= budget.balance %></td>
                <td><%= budget.active %></td>
                <td><%= budget.locked %></td>
                <td><%= budget.default %></td>
                <td class="noSpace"><%= link_to 'Show', budget, {:class => "crudButton"} %></td>
                <td class="noSpace"><%= button_to 'Delete', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="card-stack">
    <%= link_to 'New Budget', new_budget_path, {:class => "button"} %>
  </div>

</div>
