<div class="page-wrapper">
  <div class="banner">
    <p id="notice"><%= notice %></p>
    <h1> <%= @budget.name %> Budget </h1>
  </div>

  <div class="card-stack">
    <div class="card">
      <p>
        <strong>Fiscal year:</strong>
        <%= @budget.fiscal_year %>
      </p>

      <p>
        <strong>Active:</strong>
        <%= @budget.active %>
      </p>

      <p>
        <strong>Locked:</strong>
        <%= @budget.locked %>
      </p>

      <p>
        <strong>Default:</strong>
        <%= @budget.default %>
      </p>
    </div>

    <div class="card">
      <table>
        <thead>
          <tr class="headRow">
            <th>Categories/Subcategories</th>
            <th>Budgeted</th>
            <th>Spent</th>
            <th>Pending</th>
            <th>Balance</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @budget_categories.each do |category_id| %>

            <tr class="strongRow">
              <td><strong><%= BudgetCategory.find(category_id).name %></strong></td>
              <td><strong><%= BudgetCategory.find(category_id).budgeted %></strong></td>
              <td><strong><%= BudgetCategory.find(category_id).spent %></strong></td>
              <td><strong><%= BudgetCategory.find(category_id).pending %></strong></td>
              <td><strong><%= BudgetCategory.find(category_id).balance %></strong></td>
              <td class="noSpace"><%= link_to 'Edit', edit_budget_category_path(BudgetCategory.find(category_id)), {:class => "crudButton"} %></td>
              <td class="noSpace"><%= button_to 'Destroy', BudgetCategory.find(category_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

            <% BudgetCategory.find(category_id).budget_subcategory_ids.each do |subcategory_id| %>
              <tr class="normalRow">
                <td><%= BudgetSubcategory.find(subcategory_id).name %></td>
                <td><%= BudgetSubcategory.find(subcategory_id).budgeted %></td>
                <td><%= BudgetSubcategory.find(subcategory_id).spent %></td>
                <td><%= BudgetSubcategory.find(subcategory_id).pending %></td>
                <td><%= BudgetSubcategory.find(subcategory_id).balance %></td>
                <td class="noSpace"><%= link_to 'Edit', edit_budget_subcategory_path(BudgetSubcategory.find_by(id: subcategory_id)), {:class => "crudButton"}  %></td>
                <td class="noSpace"><%= button_to 'Destroy', BudgetSubcategory.find(subcategory_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>

            <tr class="newSubcategory">
              <td><%= link_to 'Add New Subcategory +', new_budget_subcategory_path(:budget_category_id => category_id), {:class => "newSubcategoryLink"} %></td>
              <td colspan="6"></td>
            </tr>

          <% end %>

          <tr class="newCategory">
            <td><strong><%= link_to 'Add New Category +', new_budget_category_path(:budget_id => @budget.id), {:class => "newCategoryLink"} %></strong></td>
            <td colspan="6"></td>
          </tr>

          <tr class="totals">
            <td><strong>Total</strong></td>
            <td><strong><%= @budget.budgeted %></strong></td>
            <td><strong><%= @budget.spent %></strong></td>
            <td><strong><%= @budget.pending %></strong></td>
            <td><strong><%= @budget.balance %></strong></td>
            <td colspan="2"></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <% if @user.permission_type == "admin" %>
    <div class="card-stack">
      <%= link_to 'Edit Budget', edit_budget_path(@budget), {:class => "button"} %>
      <%= link_to 'Back', budgets_path, {:class => "button"} %>
    </div>
  <% end %>
</div>