<div class='page-wrapper'>
  
  <div class='banner'>
    <h1>Approval To Charge Requests</h1>
  </div>
  <p id="notice"><%= notice %></p>

  <% if User.find(session[:user_id]).permission_type == 'admin' %>
    <div class='card-stack'>
      <%= link_to 'Completed Approval To Charge Requests', atc_approved_path, {:class => 'button'} %>
      <%= link_to 'Pending Approval To Charge Requests', atc_inprogress_path, {:class => 'button'} %>
    </div>
  <% end %>

  <div class='card-stack'>
    <div class='card'>
      <table>
        <thead>
          <tr class='strongRow'>
            <th>Request Submitted By</th>
            <th>Vendor</th>
            <th>Contact name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Purchase info</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Notes</th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @atcs.each do |atc| %>
            <tr class='normalRow'>
              <td><%= User.find_by(id: atc.user_id).first_name %></td>
              <td><%= Vendor.where(id: atc.vendor_id).last.vendor_name%></td>
              <td><%= atc.contact_name %></td>
              <td><%= atc.phone %></td>
              <td><%= atc.email %></td>
              <td><%= atc.purchase_info %></td>
              <td><%= atc.amount %></td>
              <td><%= atc.status %></td>
              <td><%= atc.notes %></td>
              <td class='noSpace'><%= link_to 'Show', atc, {:class => 'crudButton'} %></td>
              <td class='noSpace'><%= link_to 'Edit', edit_atc_path(atc), {:class => 'crudButton'} %></td>
              <td class='noSpace'><%= link_to 'View file', atc.file, {:class => 'crudButton'} %></td>
              <td class='noSpace'><%= link_to 'Download file', atc.file, download: '', class: 'crudButton' %></td>
              <td class='noSpace'><%= button_to 'Destroy', atc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='card-stack'>
    <%= link_to 'New Atc', new_atc_path, {:class => 'button'} %>
    <%= link_to 'Back', financial_forms_path, {:class => 'button'} %>
  </div>
</div>