<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-stack">
    <div class="card">
      <% if @user.permission_type == 'admin' %>
        <div class="field">
          <%= form.label :google_drive_link %>
          <%= form.text_area :google_drive_link, :cols => 50, :rows => 20 %>
        </div>

        <div class="field">
          <%= form.label :status %>
          <%= form.select :status, [['Pending','pending'],['Completed','completed'],['Denied','denied']] %>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
