<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.order(:first_name).map { |user| [user.first_name, user.id] }, include_blank: true, id: "id_of_the_user_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :budget_id %>
    <%= form.select :budget_id, Committee.order(:committee_name).map { |committee| [committee.committee_name] }, include_blank: true, id: "id_of_the_budget_id_select_box" %>
    </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :subcategory %>
    <%= form.select :budget_id, BudgetSubcategory.order(:subcategory_name).map { |budget_subcategory| [budget_subcategory.subcategory_name, budget_subcategory.id] }, include_blank: true, id: "id_of_the_budget_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :tax_category %>
    <%= form.select :tax_category, ['Travel','Food','Office Supplies','Utilities','Membership','Services & Other Income', 'Clothing', 'Rent','Other Expenses', 'Items for Resale'] %>
  </div>

  <div class="field">
    <%= form.label :gift %>
    <%= form.check_box :gift %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :items_purchased %>
    <%= form.text_field :items_purchased %>
  </div>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.select :vendor_id, Vendor.order(:vendor_name).map { |vendor| [vendor.vendor_name, vendor.id] }, include_blank: true, id: "id_of_the_vendor_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
