<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='card-stack'>
    <div class='card'>
      <div class="field" >
        <%= form.label :user_id %>
        <%= form.text_field :user_id, :readonly => true %>
      </div>

      <div class="field">
        <%= form.label :budget_id %>
        <%= select_tag :budget_id, options_from_collection_for_select(@budgets, "id", "name", params[:budget_id]), prompt: "- Please select -",
        onchange: "this.form.submit()"%>
        <%= select_tag :budget_category_id, options_from_collection_for_select(@budget_categories, "id", "name", params[:budget_category_id]), prompt: "- Category -",
        onchange: "this.form.submit()"%>
        <%= form.select :budget_subcategory_id, options_from_collection_for_select(@budget_subcategories, "id", "name", params[:budget_subcategory_id]), prompt: "- Subcategory -",
        onchange: "this.form.submit()"%>
      </div>

      <div class="field">
        <%= form.label :tax_category %>
        <%= form.select :tax_category, [['Travel'],['Food'],['Office Supplies'],['Utilities'],['Membership'],['Services & Other Income'],['Clothing'],['Rent'],['Other Expenses'],['Items for Resale ']], include_blank: true %>
      </div>

      <div class="field">
        <%= form.label :gift %>
        <%= form.check_box :gift %>
      </div>

      <div class="field">
        <%= form.label :cost %>
        <%= form.text_field :cost %>
      </div>

      <div class="field">
        <%= form.label :items_purchased %>
        <%= form.text_field :items_purchased %>
      </div>

      <div class="field">
        <%= form.label :vendor_id %>
        <%= form.select :vendor_id, Vendor.order(:vendor_name).map { |vendor| [vendor.vendor_name, vendor.id] }, include_blank: true, id: "id_of_the_vendor_id_select_box" %>
      </div>
      
      <% if User.find(session[:user_id]).permission_type == 'admin' %>
        <div class="field" >
          <%= form.label :status %>
          <%= form.select :status, [['Pending', 'pending'], ['Completed', 'completed'], ['Denied', 'denied']] %>
        </div>
      <% else %>
      <div class="field" >
        <%= form.label :status %>
        <%= form.text_field :status, :readonly => true %>
      </div>
      <% end %>

      <div class="field">
        <%= form.label :file %>
        <%= form.file_field :file %>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_field :notes%>
      </div>

      <div class="card">
      Items:
      <ul>
        <%= form.fields_for :items do |items_form| %>
          <li>
            <%= items_form.label :items_purchased %>
            <%= items_form.text_field :items_purchased %>
    
            <%= items_form.label :budget %>
            <%= items_form.select :budget, Budget.order(:name).map{ |budget| [budget.name, budget.id] }, include_blank: true, id: "id_of_the_budget_id_select_box" %>
        
            <%= items_form.label :category %>
            <%= items_form.text_field :category%>
            
            <%= items_form.label :subcategory %>
            <%= items_form.text_field :subcategory%>
            
            <%= items_form.label :taxcategory %>
            <%= items_form.text_field :taxcategory %>
            
            <%= items_form.label :gift %>
            <%= items_form.check_box :gift%>
            
            <%= items_form.label :cost %>
            <%= items_form.text_field :cost %>

          </li>
        <% end %>
      </ul>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
