<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @request.budget_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @request.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @request.subcategory %>
</p>

<p>
  <strong>Tax category:</strong>
  <%= @request.tax_category %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @request.gift %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @request.cost %>
</p>

<p>
  <strong>Items purchased:</strong>
  <%= @request.items_purchased %>
</p>

<p>
  <strong>Item:</strong>
  <%= @request.item %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @request.vendor_id %>
</p>

<%= link_to 'View file', @request.file %>
<%= link_to 'Download file', @request.file, download: '' %>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path(session[:user_id]) %>
