<%= form_with(model: creditcard) do |form| %>
  <% if creditcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creditcard.errors.count, "error") %> prohibited this creditcard from being saved:</h2>

      <ul>
        <% creditcard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-stack">
    <div class="card">
      <div class="field" >
        <%= form.label :user_id %>
        <%= form.text_field :User.find(session[:user_id]).first_name, :readonly => true %>
      </div>

      <div class="field">
        <%= form.label :vendor_id %>
        <%= form.select :vendor_id, Vendor.order(:vendor_name).map { |vendor| [vendor.vendor_name, vendor.id] }, include_blank: true, id: "id_of_the_vendor_select_box" %>
      </div>

      <div class="field">
        <%= form.label :payment_link %>
        <%= form.text_field :payment_link, :required => true %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone %>
      </div>

      <div class="field">
        <%= form.label :Confirmation_order %>
        <%= form.text_field :Confirmation_order %>
      </div>

      <div class="field">
        <%= form.label :reservation_name %>
        <%= form.text_field :reservation_name %>
      </div>

      <div class="field">
        <%= form.label :travel_password_cc %>
        <%= form.text_field :travel_password_cc %>
      </div>

      <div class="field">
        <%= form.label :file %>
        <%= form.file_field :file %>
      </div>

      <% if User.find(session[:user_id]).permission_type == 'admin' %>
        <div class="field" >
          <%= form.label :status %>
          <%= form.select :status, [['Pending', 'pending'], ['Completed', 'completed'],['Denied', 'denied']] %>
        </div>
      <% else %>
      <div class="field" >
        <%= form.label :status %>
        <%= form.text_field :status, :readonly => true %>
      </div>
      <% end %>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_field :notes %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
