<p id="notice"><%= notice %></p>

<h1>Creditcards</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Committee</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Reason</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creditcards.each do |creditcard| %>
      <tr>
        <td><%= creditcard.user_id %></td>
        <td><%= creditcard.committee %></td>
        <td><%= creditcard.start_time %></td>
        <td><%= creditcard.end_time %></td>
        <td><%= creditcard.reason %></td>
        <td><%= creditcard.status %></td>
        <td><%= link_to 'Show', creditcard %></td>
        <td><%= link_to 'Edit', edit_creditcard_path(creditcard) %></td>
        <td><%= link_to 'Destroy', creditcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creditcard', new_creditcard_path %>
