<div class='page-wrapper'>

  <div class='banner'>
    <h1>Pending Credit Card Requests</h1>
  </div>
  <p id="notice"><%= notice %></p>

  <div class='card-stack'>
    <div class='card'>
      <table>
        <thead>
          <tr class='strongRow'>
            <th>Request Submitted By</th>
            <th>Vendor</th>
            <th>Amount</th>
            <th>Contact Name</th>
            <th>Payment link</th>
            <th>Phone</th>
            <th>Confirmation order</th>
            <th>Reservation name</th>
            <th>Reservation phone number</th>
            <th>Status</th>
            <th>Travel Password</th>
            <th>Statement of Purpose</th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @creditcards = @creditcards.where("status = 'pending'") %>
          <% @creditcards.each do |creditcard| %>
            <tr class='normalRow'>
              <td><%= User.where(id: creditcard.user_id).last.first_name %></td>
              <td><%= Vendor.where(id: creditcard.vendor_id).last.vendor_name%></td>
              <td><%= creditcard.amount %></td>
              <td><%= creditcard.contact_name %></td>
              <td><%= creditcard.payment_link %></td>
              <td><%= creditcard.phone %></td>
              <td><%= creditcard.Confirmation_order %></td>
              <td><%= creditcard.reservation_name %></td>
              <td><%= creditcard.res_ph %></td>
              <td><%= creditcard.travel_password_cc %></td>
              <td><%= creditcard.status %></td>
              <td><%= creditcard.sop %></td>
              <td><%= creditcard.notes %></td>
              <td class='noSpace'><%= link_to 'Show', creditcard, {:class => 'crudButton'} %></td>
              <td class='noSpace'><%= link_to 'Edit', edit_creditcard_path(creditcard), {:class => 'crudButton'} %></td>
              <td class='noSpace'><%= button_to 'Delete', creditcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='card-stack'>
    <%= link_to 'New Creditcard', new_creditcard_path, {:class => 'button'} %>
    <%= link_to 'Back', creditcards_path(session[:user_id]), {:class => 'button'} %>
  </div>
</div>

