<p id="notice"><%= notice %></p>

<h1>Pending Credit Card Requests</h1>

<table>
  <thead>
    <tr>
      <th>Request Submitted By</th>
      <th>Recipient Name</th>
      <th>Vendor</th>
      <th>Payment link</th>
      <th>Phone</th>
      <th>Confirmation order</th>
      <th>Reservation name</th>
      <th>Status</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creditcards = @creditcards.where("status = 'pending'") %>
    <% @creditcards.each do |creditcard| %>
      <tr>
        <td><%= User.where(id: creditcard.user_id).last.first_name %></td>
        <td><%= creditcard.recipient_name %></td>
        <td><%= Vendor.where(id: creditcard.vendor_id).last.vendor_name%></td>
        <td><%= creditcard.payment_link %></td>
        <td><%= creditcard.phone %></td>
        <td><%= creditcard.Confirmation_order %></td>
        <td><%= creditcard.reservation_name %></td>
        <td><%= creditcard.status %></td>
        <td><%= creditcard.notes %></td>
        <td><%= link_to 'Show', creditcard %></td>
        <td><%= link_to 'Edit', edit_creditcard_path(creditcard) %></td>
        <td><%= button_to 'Destroy', creditcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'View file', creditcard.file %></td>
        <td><%= link_to 'Download file', creditcard.file, download: '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creditcard', new_creditcard_path %>
<%= link_to 'Back', creditcards_path(session[:user_id]) %>

