<p id="notice"><%= notice %></p>

<p>
  <strong>Request Submitted By:</strong>
  <%= User.find_by(id: @creditcard.user_id).first_name %>
  <%= User.find_by(id: @creditcard.user_id).last_name %>
</p>

<p>
  <strong>Recipient Name:</strong>
  <%= @creditcard.recipient_name %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= Vendor.find_by(id: @creditcard.vendor_id).vendor_name %>
</p>

<p>
  <strong>Payment link:</strong>
  <%= @creditcard.payment_link %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @creditcard.phone %>
</p>

<p>
  <strong>Confirmation order:</strong>
  <%= @creditcard.Confirmation_order %>
</p>

<p>
  <strong>Reservation name:</strong>
  <%= @creditcard.reservation_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @creditcard.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @creditcard.notes %>
</p>

<%= link_to 'View file', @creditcard.file %>
<%= link_to 'Download file', @creditcard.file, download: '' %>

<%= link_to 'Edit', edit_creditcard_path(@creditcard) %> |
<%= link_to 'Back', creditcards_path(session[:user_id]) %>
