<div class='page-wrapper'>
  <div class='banner'>
    <h1>Credit Card Request</h1>
  </div>
  <p id="notice"><%= notice %></p>

  <div class='card-stack'>
    <div class='card'>
      <p>
        <strong>Request Submitted By:</strong>
        <%= User.find_by(id: @creditcard.user_id).first_name %>
        <%= User.find_by(id: @creditcard.user_id).last_name %>
      </p>


      <p>
        <strong>Vendor:</strong>
        <%= Vendor.find_by(id: @creditcard.vendor_id).vendor_name %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= @creditcard.amount %>
      </p>

       <p>
        <strong>Contact Name:</strong>
        <%= @creditcard.contact_name %>
      </p>

      <p>
        <strong>Payment link:</strong>
        <%= @creditcard.payment_link %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @creditcard.phone %>
      </p>

      <p>
        <strong>Confirmation order:</strong>
        <%= @creditcard.Confirmation_order %>
      </p>

      <p>
        <strong>Reservation name:</strong>
        <%= @creditcard.reservation_name %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @creditcard.status %>
      </p>

      <p>
        <strong>Travel Password:</strong>
        <%= @creditcard.travel_password_cc %>
      </p>

      <p>
        <strong>Statement of Purpose:</strong>
        <%= @creditcard.sop %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @creditcard.notes %>
      </p>
    </div>
  </div>

  <div class='card-stack'>
    <<!--<td class='noSpace'><%= link_to 'View', creditcard.file, {:class => "crudButton"} %></td>-->
    <!--<td class='noSpace'><%= link_to 'Download', creditcard.file, download: '', class: 'crudButton' %></td>-->
    <%= link_to 'Edit', edit_creditcard_path(@creditcard), {:class => 'button'} %>
    <%= link_to 'Back', creditcards_path(session[:user_id]), {:class => 'button'} %>
  </div>
</div>
