<p id="notice"><%= notice %></p>

<h1>Vendors</h1>

<table>
  <thead>
    <tr>
      <th>Vendor name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Email</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.vendor_name %></td>
        <td><%= vendor.street_address %></td>
        <td><%= vendor.city %></td>
        <td><%= vendor.state %></td>
        <td><%= vendor.zip_code %></td>
        <td><%= vendor.email %></td>
        <td><%= vendor.phone_number %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= button_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
<%= link_to 'Home', user_home_path %>
