<div class="page-wrapper">
  <div class="banner">
    <h1>Vendors</h1>
  </div>
  <p id="notice"><%= notice %></p>

  <div class="card-stack">
    <div class="card">
      <table>
        <thead>
          <tr class="strongRow">
            <th>Vendor name</th>
            <th>Street address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip code</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Tax ID</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @vendors.each do |vendor| %>
            <tr class="normalRow">
              <td><%= vendor.vendor_name %></td>
              <td><%= vendor.street_address %></td>
              <td><%= vendor.city %></td>
              <td><%= vendor.state %></td>
              <td><%= vendor.zip_code %></td>
              <td><%= vendor.email %></td>
              <td><%= vendor.phone_number %></td>
              <td><%= vendor.tax_id %></td>
              <td class="noSpace"><%= link_to 'Edit', edit_vendor_path(vendor), {:class => "crudButton"} %></td>
              <td class="noSpace"><%= button_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-stack">
    <%= link_to 'New Vendor', new_vendor_path, {:class => "button"} %>
    <%= link_to 'Vendor Invoices', invoices_path, {:class => "button"} %>
  </div>
</div>
