<%= form_with(model: committee) do |form| %>
  <% if committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
        <% committee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :committee_name %>
    <%= form.text_field :committee_name %>
  </div>

  <div class="field">
    <%= form.label :budget %>
    <%= form.text_field :budget %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
