<div class='page-wrapper'>
  <div class='banner'>
    <h1>Editing Committee</h1>
  </div>

  <%= render 'form', committee: @committee %>

  <div class='card-stack'>
    <div class='card'>
      <table>
        <thead class='strongRow'>
          <tr>
            <th>Member(s)</th>
            <th>UIN</th>
            <th>Phone Number</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr class='normalRow'>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td><%= user.uin %></td>
              <td><%= user.phone_number%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='card-stack'>
    <%= link_to 'Show', @committee, {:class => "button"} %>
    <%= link_to 'Back', committees_path, {:class => "button"} %>
  </div>
</div>

