<p id="notice"><%= notice %></p>

<p>
  <strong>Committee name:</strong>
  <%= @committee.committee_name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @committee.budget %>
</p>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>UIN</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.uin %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
