<p id="notice"><%= notice %></p>

<p>
  <strong>Committee name:</strong>
  <%= @committee.committee_name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @committee.budget %>
</p>

<% if @user.permission_type == 'admin' %>
<%= link_to 'Edit', edit_committee_path(@committee) %>
<% end %>

<% if @user.permission_type == 'admin' %>
<%= link_to 'Back', committees_path%>
<% else %>
<%= link_to 'Home', user_home_path(@user)%>
<% end %>
