<p id="notice"><%= notice %></p>

<p>
  <strong>Committee name:</strong>
  <%= @committee.committee_name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @committee.budget_id %>
</p>

<% if @user.permission_type == 'admin' %>
<%= link_to 'Edit', edit_committee_path(@committee) %>
<% end %>

<%= link_to 'Back', :back %>