<!DOCTYPE html>
<html>
<head>
 <%= favicon_link_tag 'favicon.ico' %>
  <style>
    .brand {
      padding-left: 2em;
      padding-right: 1em;
      font-size: 24px;
    }
    

    .element {
      font-size: 20px;
      margin-right: 15px;
    }
  </style>
</head>
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <% if User.find(session[:user_id]).permission_type == 'admin' %>
      <%= link_to 'SEC-BRS', admin_home_path(User.find(session[:user_id])), class: "navbar-brand brand" %>
      <% else %>
      <%= link_to 'SEC-BRS', user_home_path(User.find(session[:user_id])), class: "navbar-brand brand" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <% if User.find(session[:user_id]).permission_type == 'admin' %>
            <li class="nav-item <%= admin_home_path(User.find(session[:user_id])) %>">
              <%= link_to 'Home', admin_home_path(User.find(session[:user_id])), class: 'nav-link element' %>
            </li>
          <% else %>
            <li class="nav-item <%= user_home_path(User.find(session[:user_id])) %>">
              <%= link_to 'Home', user_home_path(User.find(session[:user_id])), class: 'nav-link element' %>
            </li>
          <% end %>

          <li class="nav-item <%= financial_forms_path %>">
            <% if User.find(session[:user_id]).permission_type == 'admin' %>
                <li class="nav-item <%= financial_forms_path %>">
                  <%= link_to 'Financial Forms', financial_forms_path, class: 'nav-link element' %>
                </li>
            <% else %>
              <% if Committee.find(User.find(session[:user_id]).committee_id).committee_name != 'default' %>
                <li class="nav-item <%= financial_forms_path %>">
                  <%= link_to 'Financial Forms', financial_forms_path, class: 'nav-link element' %>
                </li>
              <% end %>
            <% end %>
          </li>

          <% if User.find(session[:user_id]).permission_type == 'admin' %>
            <li class="nav-item <%= budgets_path %>">
              <%= link_to 'Budget Management', budgets_path, class: 'nav-link element' %>
            </li>
          <% else %>
            <% if Budget.find_by(id: Committee.find(User.find(session[:user_id]).committee_id).budget_id) # for users that belong to a committee %> 
              <li class="nav-item <%= budget_path(Budget.find(Committee.find(User.find(session[:user_id]).committee_id).budget_id)) %>">
                <%= link_to 'Budget', budget_path(Budget.find(Committee.find(User.find(session[:user_id]).committee_id).budget_id)), class: 'nav-link element' %>
              </li>
            <% else # for users that dont belong to a committee %>
            <% end %>
          <% end %>

          <% if User.find(session[:user_id]).permission_type == 'admin' %>
            <li class="nav-item <%= users_path %>">
              <%= link_to 'Sub Accounts', users_path, class: 'nav-link element' %>
            </li>
            <li class="nav-item <%= vendors_path(session[:user_id]) %>">
              <%= link_to 'Vendors', vendors_path(session[:user_id]), class: 'nav-link element' %>
            </li>
            <li class="nav-item <%= committees_path %>">
              <%= link_to 'Committees', committees_path, class: 'nav-link element' %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item <%= user_path(session[:user_id]) %>">
            <%= link_to 'Profile', user_path(session[:user_id]), class: 'nav-link element' %>
          </li>
            <li class="nav-item <%= user_path(session[:user_id]) %>">
              <%= link_to "Hi, #{current_user.first_name}", user_path(session[:user_id]), class: 'nav-link element' %>
            </li>

            <% if Rails.env.test? -%>
            <li class="nav-item <%= login_path %>">
              <%= link_to 'Logout', login_path, class: 'nav-link element' %>
            </li>
            <% else -%>
            <li class="nav-item <%= logout_path %>">
              <%= link_to 'Logout', logout_path, method: :destroy, class: 'nav-link element' %>
            </li>
            <% end %>
          <% else %>
          <% end %>
        </ul>
      </div>
    </nav>
    <% end %>
</html>